zel_flow.json
{"id":"23d07fde44f373c5","label":"ZEL","disabled":false,"info":"","env":[],"nodes":[{"id":"76e8f05e9b553deb","type":"websocket in","z":"23d07fde44f373c5","name":"","server":"","client":"ad83435217eea087","x":240,"y":60,"wires":[["00364b3e29c4bd3d"]]},{"id":"2d5ac0dd247a26d8","type":"debug","z":"23d07fde44f373c5","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":260,"wires":[]},{"id":"88e92a57e7c34e26","type":"inject","z":"23d07fde44f373c5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["7a02eb04b2e0e03c"]]},{"id":"7a02eb04b2e0e03c","type":"http request","z":"23d07fde44f373c5","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://d3bv4fvmlcomox.cloudfront.net/oe-registry.json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":260,"wires":[["b80aee0779dd9f4b"]]},{"id":"b80aee0779dd9f4b","type":"function","z":"23d07fde44f373c5","name":"function 1","func":"const input=[{\n        \"owner\": \"AGGREGATOR100000\",\n        \"nmi\": \"AGG0NMI10001\"\n    },\n    {\n        \"owner\": \"AGGREGATOR100000\",\n        \"nmi\": \"AGG0NMI10002\"\n    },\n    {\n        \"owner\": \"AGGREGATOR100000\",\n        \"nmi\": \"AGG0NMI10003\"\n    }]\nmsg.payload = Object.values(msg.payload.reduce((a, { owner, nmi }) => {\n    if (!a[owner]) a[owner] = { owner, nmi: [] };\n    a[owner].nmi.push(nmi);\n    return a;\n  }, {}));\n\n// msg.payload = Object.values(msg.payload.reduce((a, { owner, nmi }) => {\n//     // a[Object.values(nmi).toString()] = owner;\n//     //a.set(nmi, owner)\n//     return { ...a, [owner]:{nmi}};\n//   }, {}));  \n\nflow.set(\"validator\", msg.payload);  \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["2d5ac0dd247a26d8"]]},{"id":"1255669dc99d6f21","type":"inject","z":"23d07fde44f373c5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\":\"ZEL\",\"data\":{\"requestor\":\"DEV1-SENDER\",\"strikePrice\":4,\"startDatetime\":\"2023-09-13T09:57:09.211Z\",\"endDatetime\":\"2023-09-13T10:00:09.211Z\",\"nmis\":[\"AGG0NMI10001\",\"AGG0NMI10002\",\"AGG0NMI10003\",\"AGG0NMI10004\",\"AGG0NMI10005\",\"AGG0NMI10006\",\"AGG0NMI10007\",\"AGG0NMI10008\",\"AGG0NMI10009\",\"AGG0NMI10010\",\"AGG0NMI10011\",\"AGG0NMI10012\",\"AGG0NMI10013\",\"AGG0NMI10014\",\"AGG0NMI10015\",\"AGG0NMI10016\",\"AGG0NMI10017\",\"AGG0NMI10018\",\"AGG0NMI10019\",\"AGG0NMI10020\",\"AGG0NMI10021\",\"AGG0NMI10022\",\"AGG0NMI10023\",\"AGG0NMI10024\",\"AGG0NMI10025\",\"AGG0NMI10026\",\"AGG0NMI10027\",\"AGG0NMI10028\",\"AGG0NMI10029\",\"AGG0NMI10030\",\"AGG0NMI10031\",\"AGG0NMI10032\",\"AGG0NMI10033\",\"AGG0NMI10034\",\"AGG0NMI10035\",\"AGG0NMI10036\",\"AGG0NMI10037\",\"AGG0NMI10038\",\"AGG0NMI10039\",\"AGG0NMI10040\",\"AGG0NMI10041\",\"AGG0NMI10042\",\"AGG0NMI10043\",\"AGG0NMI10044\",\"AGG0NMI10045\",\"AGG0NMI10046\",\"AGG0NMI10047\",\"AGG0NMI10048\",\"AGG0NMI10049\",\"AGG0NMI10050\",\"AGG1NMI10001\",\"AGG1NMI10002\",\"AGG1NMI10003\",\"AGG1NMI10004\",\"AGG1NMI10005\",\"AGG1NMI10006\",\"AGG1NMI10007\",\"AGG1NMI10008\",\"AGG1NMI10009\",\"AGG1NMI10010\",\"AGG1NMI10011\",\"AGG1NMI10012\",\"AGG1NMI10013\",\"AGG1NMI10014\",\"AGG1NMI10015\",\"AGG1NMI10016\",\"AGG1NMI10017\",\"AGG1NMI10018\",\"AGG1NMI10019\",\"AGG1NMI10020\",\"AGG1NMI10021\",\"AGG1NMI10022\",\"AGG1NMI10023\",\"AGG1NMI10024\",\"AGG1NMI10025\",\"AGG1NMI10026\",\"AGG1NMI10027\",\"AGG1NMI10028\",\"AGG1NMI10029\",\"AGG1NMI10030\",\"AGG1NMI10031\",\"AGG1NMI10032\",\"AGG1NMI10033\",\"AGG1NMI10034\",\"AGG1NMI10035\",\"AGG1NMI10036\",\"AGG1NMI10037\",\"AGG1NMI10038\",\"AGG1NMI10039\",\"AGG1NMI10040\",\"AGG1NMI10041\",\"AGG1NMI10042\",\"AGG1NMI10043\",\"AGG1NMI10044\",\"AGG1NMI10045\",\"AGG1NMI10046\",\"AGG1NMI10047\",\"AGG1NMI10048\",\"AGG1NMI10049\",\"AGG1NMI10050\",\"AGG2NMI10001\",\"AGG2NMI10002\",\"AGG2NMI10003\",\"AGG2NMI10004\",\"AGG2NMI10005\",\"AGG2NMI10006\",\"AGG2NMI10007\",\"AGG2NMI10008\",\"AGG2NMI10009\",\"AGG2NMI10010\",\"AGG2NMI10011\",\"AGG2NMI10012\",\"AGG2NMI10013\",\"AGG2NMI10014\",\"AGG2NMI10015\",\"AGG2NMI10016\",\"AGG2NMI10017\",\"AGG2NMI10018\",\"AGG2NMI10019\",\"AGG2NMI10020\",\"AGG2NMI10021\",\"AGG2NMI10022\",\"AGG2NMI10023\",\"AGG2NMI10024\",\"AGG2NMI10025\",\"AGG2NMI10026\",\"AGG2NMI10027\",\"AGG2NMI10028\",\"AGG2NMI10029\",\"AGG2NMI10030\",\"AGG2NMI10031\",\"AGG2NMI10032\",\"AGG2NMI10033\",\"AGG2NMI10034\",\"AGG2NMI10035\",\"AGG2NMI10036\",\"AGG2NMI10037\",\"AGG2NMI10038\",\"AGG2NMI10039\",\"AGG2NMI10040\",\"AGG2NMI10041\",\"AGG2NMI10042\",\"AGG2NMI10043\",\"AGG2NMI10044\",\"AGG2NMI10045\",\"AGG2NMI10046\",\"AGG2NMI10047\",\"AGG2NMI10048\",\"AGG2NMI10049\",\"AGG2NMI10050\",\"AGG3NMI10001\",\"AGG3NMI10002\",\"AGG3NMI10003\",\"AGG3NMI10004\",\"AGG3NMI10005\",\"AGG3NMI10006\",\"AGG3NMI10007\",\"AGG3NMI10008\",\"AGG3NMI10009\",\"AGG3NMI10010\",\"AGG3NMI10011\",\"AGG3NMI10012\",\"AGG3NMI10013\",\"AGG3NMI10014\",\"AGG3NMI10015\",\"AGG3NMI10016\",\"AGG3NMI10017\",\"AGG3NMI10018\",\"AGG3NMI10019\",\"AGG3NMI10020\",\"AGG3NMI10021\",\"AGG3NMI10022\",\"AGG3NMI10023\",\"AGG3NMI10024\",\"AGG3NMI10025\",\"AGG3NMI10026\",\"AGG3NMI10027\",\"AGG3NMI10028\",\"AGG3NMI10029\",\"AGG3NMI10030\",\"AGG3NMI10031\",\"AGG3NMI10032\",\"AGG3NMI10033\",\"AGG3NMI10034\",\"AGG3NMI10035\",\"AGG3NMI10036\",\"AGG3NMI10037\",\"AGG3NMI10038\",\"AGG3NMI10039\",\"AGG3NMI10040\",\"AGG3NMI10041\",\"AGG3NMI10042\",\"AGG3NMI10043\",\"AGG3NMI10044\",\"AGG3NMI10045\",\"AGG3NMI10046\",\"AGG3NMI10047\",\"AGG3NMI10048\",\"AGG3NMI10049\",\"AGG3NMI10050\",\"AGG4NMI10001\",\"AGG4NMI10002\",\"AGG4NMI10003\",\"AGG4NMI10004\",\"AGG4NMI10005\",\"AGG4NMI10006\",\"AGG4NMI10007\",\"AGG4NMI10008\",\"AGG4NMI10009\",\"AGG4NMI10010\",\"AGG4NMI10011\",\"AGG4NMI10012\",\"AGG4NMI10013\",\"AGG4NMI10014\",\"AGG4NMI10015\",\"AGG4NMI10016\",\"AGG4NMI10017\",\"AGG4NMI10018\",\"AGG4NMI10019\",\"AGG4NMI10020\",\"AGG4NMI10021\",\"AGG4NMI10022\",\"AGG4NMI10023\",\"AGG4NMI10024\",\"AGG4NMI10025\",\"AGG4NMI10026\",\"AGG4NMI10027\",\"AGG4NMI10028\",\"AGG4NMI10029\",\"AGG4NMI10030\",\"AGG4NMI10031\",\"AGG4NMI10032\",\"AGG4NMI10033\",\"AGG4NMI10034\",\"AGG4NMI10035\",\"AGG4NMI10036\",\"AGG4NMI10037\",\"AGG4NMI10038\",\"AGG4NMI10039\",\"AGG4NMI10040\",\"AGG4NMI10041\",\"AGG4NMI10042\",\"AGG4NMI10043\",\"AGG4NMI10044\",\"AGG4NMI10045\",\"AGG4NMI10046\",\"AGG4NMI10047\",\"AGG4NMI10048\",\"AGG4NMI10049\",\"AGG4NMI10050\",\"AGG5NMI10001\",\"AGG5NMI10002\",\"AGG5NMI10003\",\"AGG5NMI10004\",\"AGG5NMI10005\",\"AGG5NMI10006\",\"AGG5NMI10007\",\"AGG5NMI10008\",\"AGG5NMI10009\",\"AGG5NMI10010\",\"AGG5NMI10011\",\"AGG5NMI10012\",\"AGG5NMI10013\",\"AGG5NMI10014\",\"AGG5NMI10015\",\"AGG5NMI10016\",\"AGG5NMI10017\",\"AGG5NMI10018\",\"AGG5NMI10019\",\"AGG5NMI10020\",\"AGG5NMI10021\",\"AGG5NMI10022\",\"AGG5NMI10023\",\"AGG5NMI10024\",\"AGG5NMI10025\",\"AGG5NMI10026\",\"AGG5NMI10027\",\"AGG5NMI10028\",\"AGG5NMI10029\",\"AGG5NMI10030\",\"AGG5NMI10031\",\"AGG5NMI10032\",\"AGG5NMI10033\",\"AGG5NMI10034\",\"AGG5NMI10035\",\"AGG5NMI10036\",\"AGG5NMI10037\",\"AGG5NMI10038\",\"AGG5NMI10039\",\"AGG5NMI10040\",\"AGG5NMI10041\",\"AGG5NMI10042\",\"AGG5NMI10043\",\"AGG5NMI10044\",\"AGG5NMI10045\",\"AGG5NMI10046\",\"AGG5NMI10047\",\"AGG5NMI10048\",\"AGG5NMI10049\",\"AGG5NMI10050\",\"AGG6NMI10001\",\"AGG6NMI10002\",\"AGG6NMI10003\",\"AGG6NMI10004\",\"AGG6NMI10005\",\"AGG6NMI10006\",\"AGG6NMI10007\",\"AGG6NMI10008\",\"AGG6NMI10009\",\"AGG6NMI10010\",\"AGG6NMI10011\",\"AGG6NMI10012\",\"AGG6NMI10013\",\"AGG6NMI10014\",\"AGG6NMI10015\",\"AGG6NMI10016\",\"AGG6NMI10017\",\"AGG6NMI10018\",\"AGG6NMI10019\",\"AGG6NMI10020\",\"AGG6NMI10021\",\"AGG6NMI10022\",\"AGG6NMI10023\",\"AGG6NMI10024\",\"AGG6NMI10025\",\"AGG6NMI10026\",\"AGG6NMI10027\",\"AGG6NMI10028\",\"AGG6NMI10029\",\"AGG6NMI10030\",\"AGG6NMI10031\",\"AGG6NMI10032\",\"AGG6NMI10033\",\"AGG6NMI10034\",\"AGG6NMI10035\",\"AGG6NMI10036\",\"AGG6NMI10037\",\"AGG6NMI10038\",\"AGG6NMI10039\",\"AGG6NMI10040\",\"AGG6NMI10041\",\"AGG6NMI10042\",\"AGG6NMI10043\",\"AGG6NMI10044\",\"AGG6NMI10045\",\"AGG6NMI10046\",\"AGG6NMI10047\",\"AGG6NMI10048\",\"AGG6NMI10049\",\"AGG6NMI10050\",\"AGG7NMI10001\",\"AGG7NMI10002\",\"AGG7NMI10003\",\"AGG7NMI10004\",\"AGG7NMI10005\",\"AGG7NMI10006\",\"AGG7NMI10007\",\"AGG7NMI10008\",\"AGG7NMI10009\",\"AGG7NMI10010\",\"AGG7NMI10011\",\"AGG7NMI10012\",\"AGG7NMI10013\",\"AGG7NMI10014\",\"AGG7NMI10015\",\"AGG7NMI10016\",\"AGG7NMI10017\",\"AGG7NMI10018\",\"AGG7NMI10019\",\"AGG7NMI10020\",\"AGG7NMI10021\",\"AGG7NMI10022\",\"AGG7NMI10023\",\"AGG7NMI10024\",\"AGG7NMI10025\",\"AGG7NMI10026\",\"AGG7NMI10027\",\"AGG7NMI10028\",\"AGG7NMI10029\",\"AGG7NMI10030\",\"AGG7NMI10031\",\"AGG7NMI10032\",\"AGG7NMI10033\",\"AGG7NMI10034\",\"AGG7NMI10035\",\"AGG7NMI10036\",\"AGG7NMI10037\",\"AGG7NMI10038\",\"AGG7NMI10039\",\"AGG7NMI10040\",\"AGG7NMI10041\",\"AGG7NMI10042\",\"AGG7NMI10043\",\"AGG7NMI10044\",\"AGG7NMI10045\",\"AGG7NMI10046\",\"AGG7NMI10047\",\"AGG7NMI10048\",\"AGG7NMI10049\",\"AGG7NMI10050\",\"AGG8NMI10001\",\"AGG8NMI10002\",\"AGG8NMI10003\",\"AGG8NMI10004\",\"AGG8NMI10005\",\"AGG8NMI10006\",\"AGG8NMI10007\",\"AGG8NMI10008\",\"AGG8NMI10009\",\"AGG8NMI10010\",\"AGG8NMI10011\",\"AGG8NMI10012\",\"AGG8NMI10013\",\"AGG8NMI10014\",\"AGG8NMI10015\",\"AGG8NMI10016\",\"AGG8NMI10017\",\"AGG8NMI10018\",\"AGG8NMI10019\",\"AGG8NMI10020\",\"AGG8NMI10021\",\"AGG8NMI10022\",\"AGG8NMI10023\",\"AGG8NMI10024\",\"AGG8NMI10025\",\"AGG8NMI10026\",\"AGG8NMI10027\",\"AGG8NMI10028\",\"AGG8NMI10029\",\"AGG8NMI10030\",\"AGG8NMI10031\",\"AGG8NMI10032\",\"AGG8NMI10033\",\"AGG8NMI10034\",\"AGG8NMI10035\",\"AGG8NMI10036\",\"AGG8NMI10037\",\"AGG8NMI10038\",\"AGG8NMI10039\",\"AGG8NMI10040\",\"AGG8NMI10041\",\"AGG8NMI10042\",\"AGG8NMI10043\",\"AGG8NMI10044\",\"AGG8NMI10045\",\"AGG8NMI10046\",\"AGG8NMI10047\",\"AGG8NMI10048\",\"AGG8NMI10049\",\"AGG8NMI10050\",\"AGG9NMI10001\",\"AGG9NMI10002\",\"AGG9NMI10003\",\"AGG9NMI10004\",\"AGG9NMI10005\",\"AGG9NMI10006\",\"AGG9NMI10007\",\"AGG9NMI10008\",\"AGG9NMI10009\",\"AGG9NMI10010\",\"AGG9NMI10011\",\"AGG9NMI10012\",\"AGG9NMI10013\",\"AGG9NMI10014\",\"AGG9NMI10015\",\"AGG9NMI10016\",\"AGG9NMI10017\",\"AGG9NMI10018\",\"AGG9NMI10019\",\"AGG9NMI10020\",\"AGG9NMI10021\",\"AGG9NMI10022\",\"AGG9NMI10023\",\"AGG9NMI10024\",\"AGG9NMI10025\",\"AGG9NMI10026\",\"AGG9NMI10027\",\"AGG9NMI10028\",\"AGG9NMI10029\",\"AGG9NMI10030\",\"AGG9NMI10031\",\"AGG9NMI10032\",\"AGG9NMI10033\",\"AGG9NMI10034\",\"AGG9NMI10035\",\"AGG9NMI10036\",\"AGG9NMI10037\",\"AGG9NMI10038\",\"AGG9NMI10039\",\"AGG9NMI10040\",\"AGG9NMI10041\",\"AGG9NMI10042\",\"AGG9NMI10043\",\"AGG9NMI10044\",\"AGG9NMI10045\",\"AGG9NMI10046\",\"AGG9NMI10047\",\"AGG9NMI10048\",\"AGG9NMI10049\",\"AGG9NMI10050\"]}}","payloadType":"str","x":90,"y":200,"wires":[["f50fda7a0f1014df"]]},{"id":"d58611f00d7e9e7c","type":"debug","z":"23d07fde44f373c5","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":140,"wires":[]},{"id":"2649d8bf700f2f8a","type":"function","z":"23d07fde44f373c5","name":"function 2","func":"let validator = flow.get(\"validator\");\n\nlet nmis = msg.payload.data.nmis;\n\nlet data=[];\nnmis.forEach(nmi=>{\n    let {owner} = validator.filter((test)=> Object.values(test.nmi).includes(nmi))[0];\n    data.push({owner,nmi});\n});\n\nmsg.payload = Object.values(data.reduce((a, { owner, nmi }) => {\n    if (!a[owner]) a[owner] = { owner, nmi: [] };\n    a[owner].nmi.push(nmi);\n    return a;\n  }, {}));\n// msg.payload =nmis;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["374707e3b1950017"]]},{"id":"b78ff9822f0bd77d","type":"switch","z":"23d07fde44f373c5","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"ZEL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":140,"wires":[["2649d8bf700f2f8a"]]},{"id":"f50fda7a0f1014df","type":"json","z":"23d07fde44f373c5","name":"","property":"payload","action":"","pretty":false,"x":110,"y":140,"wires":[["b78ff9822f0bd77d"]]},{"id":"00364b3e29c4bd3d","type":"json","z":"23d07fde44f373c5","name":"","property":"payload","action":"","pretty":false,"x":290,"y":100,"wires":[["b78ff9822f0bd77d"]]},{"id":"374707e3b1950017","type":"split","z":"23d07fde44f373c5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":140,"wires":[["d58611f00d7e9e7c"]]}]}